#Form_ItemEditForm_ContentBlock_Holder {
    max-width: 1200px;

    .form__field-holder {
        flex: 100%;
        margin-left: 0;
        max-width: 100%;
        width: 100%;

        #Form_ItemEditForm_BlockType {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;

            .form-check {
                min-height: 200px;
                margin: 0 0 0 0;
                padding: 0;
                width: 33.333%;

                .form-check-label {
                    display: block;
                    padding: 0 0 0 0;
                    position: relative;
                    width: 100%;
                    z-index: 1;

                    .form-check-input {
                        display: none;

                        &:checked + .form-check-overlay {
                            display: block;
                        }
                    }

                    .form-check-overlay {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;

                        box-shadow: 0 0 1px #000;
                    }

                    .form-check-section {
                        padding: 20px;
                        
                        .form-check-img {
                            background-color: #CCC;
                            height: 150px;
                            margin: 0 0 10px 0;

                            img {
                                height: auto;
                                width: 100%;
                            }
                        }
                        
                        .form-check-title {
                            display: block;
                        }
                        
                        .form-check-description {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}