#Form_ItemEditForm_ContentBlock_Holder {
    .form__field-holder {
        flex: 100%;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }

    .optionset {
        gap: 1em;
        list-style: none;
        max-width: 1440px;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));

        @media (min-width: 600px) {
            gap: 1.5em;
        }

        @media (min-width: 1200px) {
            gap: 2.4em;
        }
    }

    .form-check {
        padding: 0;
        display: flex;
        grid-column: span 12;

        @media (min-width: 600px) {
            grid-column: span 6;
        }

        @media (min-width: 1200px) {
            grid-column: span 4;
        }

        @media (min-width: 1600px) and (min-height: 900px) {
            &:has(:checked) {
                position: sticky;
                top: 0;
                bottom: 0;
                z-index: 100;
            }
        }
    }

    .form-check-label {
        display: flex;
        gap: 1rem;
        padding: 30px 48px 24px 20px;
        align-items: flex-start;
        user-select: none;
        border-radius: 1.5em;
        background: var(--light);
        transition: box-shadow 0.2s ease;
        box-shadow: 0 0 0 0 var(--color-blue);
        position: relative;
        flex-grow: 1;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
        }

        &:hover {
            background: #E2E4EA;
        }

        &:has(:checked) {
            background: white;
            box-shadow: 0 0 0 2px var(--color-blue), 0 0 1em rgba(0, 0, 0, 0.2);
        }
    }

    .form-check-input {
        margin: calc(41.5% + 14px) 0 0 0;
        position: static;
    }

    .form-check-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1.2em;
        flex-grow: 1;
    }

    .form-check-title {
        flex-shrink: 0;
    }

    .form-check-img {
        margin-bottom: 12px;
        aspect-ratio: 360/150;
        width: 100%;
        height: auto;
        background: white;
        object-fit: contain;
        box-shadow: 0 1em 1em rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }
}


//block grid styles
.table {
    .col-Thumbnail {
        padding: 0;
        vertical-align: middle;
        width: 0;

        img {
            height: 40px;
            transform-origin: 0% 50%;
            transition: 0.2s ease-in-out;
            transition-property: transform, box-shadow;

            &:hover {
                transform: scale(300%);
                box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
                transition-delay: 0.3s;
            }
        }
    }
}